<h1>Lista de Pendientes</h1>

<a href="/crear" class="btn">Agregar Nueva Tarea</a>

<ul>
    <% listaDeTareas.forEach(item=> { %>
        <li>
            <%= item.task %>
                <div>
                    <a href="/editar/<%= item.id %>" style="color: blue;">[Editar]</a>
                    <a href="/eliminar/<%= item.id %>" class="btn-delete" data-task="<%= item.task %>"
                        style="color: red;">[Eliminar]</a>
                </div>
        </li>
        <% }) %>
</ul>


<script src="/js/indexScript.js"></script>